<form [formGroup]="myForm">
  <fhi-ng-display [level]="1">My Form</fhi-ng-display>
  <fhi-ng-text-input
    formControlName="myTextInput"
    label="Tekstfelt"
    [value]="this.myForm.get('myTextInput')?.value || ''"
  ></fhi-ng-text-input>
  <fhi-ng-radio
    formControlName="myRadio"
    value="option1"
    label="Alternativ 1"
    name="myRadio"
    [checked]="this.myForm.get('myRadio')?.value === 'option1'"
  ></fhi-ng-radio>
  <fhi-ng-radio
    formControlName="myRadio"
    value="option2"
    label="Alternativ 2"
    name="myRadio"
    [checked]="this.myForm.get('myRadio')?.value === 'option2'"
  ></fhi-ng-radio>
  <fhi-ng-checkbox
    formControlName="myCheckbox"
    [checked]="this.myForm.get('myCheckbox')?.value || false"
    label="Avkrysningsboks"
  ></fhi-ng-checkbox>
  <fhi-ng-button (click)="handleClick()">Click me</fhi-ng-button>
</form>
