name: Package & Docs

permissions:
  contents: write
  id-token: write

on:
  push:
    branches:
      - master

jobs:
  run:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Guard - prefix
        id: prefix
        run: |
          LAST_COMMIT_MESSAGE="${{ github.event.head_commit.message }}"
          echo "Commit message: \"$LAST_COMMIT_MESSAGE\""
          if [[ "$LAST_COMMIT_MESSAGE" != feat:\ * && "$LAST_COMMIT_MESSAGE" != fix:\ * ]]; then
              echo "Commit message does not include 'feat: ' nor 'fix: '. Package & Docs pipeline will not run."
              exit 1
          fi
        shell: bash

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org/'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      - name: Install dependencies
        run: pnpm i

      - name: Build
        run: cd packages/fhi-designsystem; pnpm build

      - name: Ping NPM registry
        run: npm ping

      - name: Update Changelog
        run: cd packages/fhi-designsystem; pnpm changelog:ci
        env:
          GITHUB_TOKEN: ${{secrets.REPO_GITHUB_TOKEN}}

      - name: Publish package to NPM
        run: cd packages/fhi-designsystem/dist/npm; npm publish --provenance --access public
